<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Yuhonglei Learn Application</display-name>
  <icon>
    <small-icon>/images/app_small.gif</small-icon>
    <large-icon>/images/app_large.gif</large-icon>
  </icon>
  <description>
    my learning phase in company;
  </description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.xajiusuo.test.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveUser</servlet-name>
    <servlet-class>com.xajiusuo.test.SaveServlet</servlet-class>
    <init-param>
      <param-name>developer</param-name>
      <param-value>Yu Honglei</param-value>
    </init-param>
  </servlet>
  <context-param>
    <param-name>breed</param-name>
    <param-value>shery</param-value>
  </context-param>
  <listener>
    <listener-class>com.xajiusuo.test.MyServletContextListener</listener-class>
  </listener>
</web-app>